<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Dashboard</title>
</head>

<body>
<!-- Responsive navbar-->

<!-- Navigation bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Result Management System</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="@{/}">&nbsp;Home</a>
                </li>
                <li>
                    <a active href="#" th:href="@{/result}">&nbsp;Result</a>
                </li>
                <li>
                    <a href="#" th:href="@{/login}">&nbsp;Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Credentials -->

<!--Section Bar -->
<div class="container" style="margin-top:60px">
    <div class="jumbotron">
        <div class="row justify-content-center text-center font-italic">
            <h3>View Your Result By Roll Number</h3>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom:60px">
    <section>
        <div class="container-fluid">
            <div class="align-items-center justify-content-center">
                <div class="col-md-4 col-md-offset-4">
                    <form th:action="@{/result}" th:object="${resultParam}" method="post">

                        <!-- Roll Number input -->
                        <div class="form-outline mb-4" style="margin-top: 10px">
                            <label class="form-label">Roll Number</label>
                            <input required type="text" class="form-control form-control-mb" th:field="*{RollNumber}"/>
                        </div>

                        <div class="form-group" style="margin-top: 10px">
                            <label class="form-label">Choose Your Class</label>
                                <select class="form-control" th:field="*{ClassName}">
                                    <option th:each="classes:${allCourse}" th:text="${classes.cname} +' '+ ${classes.section}" th:value="${classes.id}"/>
                                </select>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('images/background-image.jpg')">

</header>
<!-- Footer-->
<!-- Footer Content -->
<footer>
    <div class="container">
        <p>Copyright © Result Management System. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>