<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>View Result</title>
</head>

<body>
<!-- Responsive navbar-->

<!-- Navigation bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Result Management System</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="@{/}">&nbsp;Home</a>
                </li>
                <li>
                    <a active href="#" th:href="@{/result}">&nbsp;Result</a>
                </li>
                <li>
                    <a href="#" th:href="@{/login}">&nbsp;Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- View Result as Table -->
<section class="section panel-margin" id="exampl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3 align="center">Student Result Details</h3>
                            <hr/>
                            <div class="panel-body p-20">
                                <th:block th:each="map:${studentInfo}">
                                    <p>Student Name: <i th:text="${map.get('sname')}"></i></p>
                                    <p>Student Roll Id: <i th:text="${map.get('rollno')}"></i></p>
                                    <p>Student Class: <i th:text="${map.get('cname')} + ' ' + ${map.get('section')}"></i></p>
                                </th:block>
                            </div>
                        </div>
                        <div class="panel-body p-20">
                            <table class="table table-hover table-bordered" border="1" width="100%">
                                <div th:if="${studentInfo.size()}">
                                    <div th:if="${resultInfo.size()}">
                                        <thead>
                                        <tr style="text-align: center">
                                            <th style="text-align: center">#</th>
                                            <th style="text-align: center"> Subject</th>
                                            <th style="text-align: center">Marks</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="map:${resultInfo}">
                                            <tr>
                                                <th scope="row" style="text-align: center" th:text="${map.get('classid')}"></th>
                                                <td style="text-align: center" th:text="${map.get('subname')}"></td>
                                                <td style="text-align: center" th:text="${map.get('marks')}" ></td>
                                            </tr>
                                        </th:block>
                                            <tr>
                                                <th scope="row" colspan="2" style="text-align: center">Total Marks</th>
                                                <td style="text-align: center"><b></b><span th:text="${resultInfo.size()} * 100"></span> <b></b></td>
                                            </tr>
<!--                                        <tr>-->
<!--                                            <th scope="row" colspan="2" style="text-align: center">Percntage</th>-->
<!--                                            <td style="text-align: center"><b> %</b></td>-->
<!--                                        </tr>-->
                                        <tr>
                                            <td colspan="3" align="center"><i class="fa fa-print fa-2x" aria-hidden="true" style="cursor:pointer" OnClick="CallPrint(this.value)" ></i></td>
                                        </tr>
                                        </tbody>
                                    </div>
                                    <div th:unless="${resultInfo.size()}">
                                        <div class="alert alert-warning left-icon-alert" role="alert">
                                            <strong>Notice!</strong> Your result not declare yet
                                        </div>
                                    </div>
                                </div>

                                <div th:unless="${studentInfo.size()}">
                                    <div class="alert alert-danger left-icon-alert" role="alert">
                                        <strong>Notice!</strong> You Are Not Registered. Contact to Admin...
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <a style="color:black" th:href="@{/result}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<!-- Footer Content -->
<footer>
    <div class="container">
        <p>Copyright © Result Management System. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>