<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Admin DashBoard</title>
</head>

<body>
<!-- Responsive navbar-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Result Management System(Admin)</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/admin/dashboard}">&nbsp;Home</a></li>
                <li><a href="#" th:href="@{/admin/addclass}">&nbsp;Add Class</a></li>
                <li><a href="#" th:href="@{/admin/addclasssubject}">&nbsp;Add classSubjects</a></li>
                <li><a href="#" th:href="@{/admin/addstudent}">&nbsp Add Student</a></li>
                <li><a href="#" th:href="@{/admin/addresult}">&nbsp;Add Result</a></li>
                <li><a href="#" th:href="@{/admin/updateresult}">&nbsp;update Result</a></li>
                <li><a href="#" th:href="@{/login}">&nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--Section Bar -->
<div class="container" style="margin-top:60px">
    <div class="jumbotron">
        <div class="row justify-content-center text-center font-italic">
            <h3>Student & Classes Details</h3>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <div class="panel-body p-20">
        <table id="example" class="table table-hover table-bordered" border="1" width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Roll Number</th>
                <th>Email</th>
                <th>DOB</th>
                <th>ClassID</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="student:${students}">
                <tr>
                    <th scope="row" style="text-align: center" th:text="${student.Name}"></th>
                    <td style="text-align: center" th:text="${student.RollNo}"></td>
                    <td style="text-align: center" th:text="${student.Email}"></td>
                    <td style="text-align: center" th:text="${student.DOB}"></td>
                    <td style="text-align: center" th:text="${student.ClassID}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid" style="margin-bottom:30px">
    <div class="panel-body p-20">
        <table id="example1" class="table table-hover table-bordered" border="1" width="100%">
            <thead>
            <tr>
                <th>ClassID</th>
                <th>Class Name</th>
                <th>Class Section</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="classs:${allCourses}">
                <tr>
                    <th scope="row" style="text-align: center" th:text="${classs.id}"></th>
                    <td style="text-align: center" th:text="${classs.cname}"></td>
                    <td style="text-align: center" th:text="${classs.section}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<!-- Footer Content -->
<footer>
    <div class="container">
        <p>Copyright © Result Management System. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>