<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--jQuery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>AddStudent</title>
</head>

<body>
<!-- Responsive navbar-->

<!-- Navigation bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Result Management System(Admin)</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/admin/dashboard}">&nbsp;Home</a></li>
                <li><a href="#" th:href="@{/admin/addclass}">&nbsp;Add Class</a></li>
                <li><a href="#" th:href="@{/admin/addclasssubject}">&nbsp;Add classSubjects</a></li>
                <li><a href="#" th:href="@{/admin/addstudent}">&nbsp Add Student</a></li>
                <li><a href="#" th:href="@{/admin/addresult}">&nbsp;Add Result</a></li>
                <li><a href="#" th:href="@{/admin/updateresult}">&nbsp;update Result</a></li>
                <li><a href="#" th:href="@{/login}">&nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--Section Bar -->
<div class="container" style="margin-top:60px">
    <div class="jumbotron">
        <div class="row justify-content-center text-center font-italic">
            <h3>Add a Student</h3>
        </div>
    </div>
</div>

<div th:if="${session.message}" class="container-fluid">
    <div th:classappend="${'alert-'+session.message.Name}" class="alert col-md-6 col-md-offset-3" role="alert">
        <span th:text="${session.message.Content}"></span>
    </div>
    <th:block th:text="${#session.removeAttribute('message')}">
    </th:block>
</div>
<!-- Header - set the background image for the header in the line below-->
<div class="container" style="margin-bottom:60px">
    <section>
        <div class="container-fluid">
            <div class="align-items-center justify-content-center">
                <div class="col-md-4 col-md-offset-4">
                    <form th:action="@{/admin/addstudent}" th:object="${student}" method="post">
                        <!-- Name input -->
                        <div class="form-outline mb-4" >
                            <label class="form-label">Name</label>
                            <input required type="text" class="form-control form-control-mb" th:field="*{Name}"/>
                        </div>

                        <!-- Roll Number input -->
                        <div class="form-outline mb-4" style="margin-top: 10px">
                            <label class="form-label">Roll Number</label>
                            <input required type="text" class="form-control form-control-mb" th:field="*{RollNo}"/>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4" style="margin-top: 10px">
                            <label class="form-label">Email address</label>
                            <input required type="email" class="form-control form-control-mb" th:field="*{Email}"/>
                        </div>

                        <!-- Gender input -->
                        <div class="form-outline mb-4" style="margin-top: 10px">
                            <label class="form-label">Gender</label>
                            <input type="radio" name="gender" value="Male" required="required" th:field="*{Gender}">Male
                            <input type="radio" name="gender" value="Female" required="required" th:field="*{Gender}">Female
                            <input type="radio" name="gender" value="Other" required="required" th:field="*{Gender}">Other
                        </div>

                        <!-- Date of Birth input -->
                        <div class="form-outline mb-4" style="margin-top: 10px">
                            <label class="form-label">Date Of Birth</label>
                            <input required type="date" class="form-control form-control-mb" th:field="*{DOB}"/>
                        </div>

                        <!-- Classid input -->
                        <div class="form-group" style="margin-top: 10px">
                            <label class="form-label">Choose Your Class</label>
                            <select class="form-control" th:field="*{ClassID}">
                                <option th:each="classes:${allCourses}" th:text="${classes.cname} +' '+ ${classes.section}" th:value="${classes.id}"/>
                            </select>
                        </div>

                        <!-- Submit button -->
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer-->
<!-- Footer Content -->
<footer>
    <div class="container">
        <p>Copyright © Result Management System. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>